#hero{
padding-top: 110px;
}
.hero__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__wrapper__left{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.hero__title{
    width: 100%;
    max-width: 518px;
    color:  rgba(33, 31, 84, 1);
    font-size: 60px;
}
.hero__text{
    width: 100%;
    max-width: 591px;
    font-weight: 400;
    font-size: 21px;
    color:  rgba(110, 113, 145, 1);
}
.hero__forms{
    display: flex;
    align-items: center;
    gap: 22px;
    flex-wrap: wrap;
}
.hero__btn{
    border: none;
    padding: 15px 12px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    max-width: 217px;
    background-color: rgba(0, 117, 255, 1);
    color: white;
}
.number__wrapper{
    display: flex;
    flex-direction: column;
}
.hero__img{
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 1px 1px gray;
}
.hero__number__text{
    font-size: 16px;
    color:  rgba(110, 113, 145, 1);;
}
.hero__number{
    width: 100%;
    max-width: 223px;
    font-weight: 700;
    color: rgba(33, 31, 84, 1);;
}
.hero__right__img{
    display: none;
    width: 100%;
    max-width: 720px;
    height: 720px;
}
@media only screen and (min-width:850px){
    .hero__right__img{
        display: flex;
    }
}