#contact{
    padding-top: 400px;
}
.contact__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact__left{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 487px;
}
.contact__form{
    display: flex;
    align-items: center;
    gap: 10px;
}